@import "variables";

// Light Theme
.light-theme {
  --primary-color: #007bff;
  --background-color: #ffffff;
  --text-color: #333333;
  --border-color: #dddddd;
}

// Dark Theme
.dark-theme {
  --primary-color: #1e90ff;
  --background-color: #181818;
  --text-color: #f0f0f0;
  --border-color: #444444;
}

// Apply to Elements
body {
  background-color: var(--background-color);
  color: var(--text-color);
}

.btn {
  background-color: var(--primary-color);
  color: white;
  border: 1px solid var(--border-color);

  &:hover {
    background-color: var(--primary-color);
  }
}
