.topbar {
  position: fixed;
  top: 0;
  left: 250px;
  right: 0;
  height: 60px;
  background: rgb(0 0 0 / 20%);
  border-bottom: 1px solid rgb(255 255 255 / 15%);
  z-index: 10;
  box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075) !important;
}

.topbar .navbar .navbar-nav .nav-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  height: 60px;
}